<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<form
  class="form-horizontal"
  method="post"
  action="/products"
  enctype="application/x-www-form-urlencoded">
  <fieldset>
    <legend>Add Product</legend>
    <div class="form-group">
      <label class="col-md-4 control-label" for="title"> Title </label>
      <div class="col-md-4">
        <input
          id="title"
          type="text"
          name="title"
          placeholder="title"
          class="form-control input-md" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="thumbnail">
        Thumbnail
      </label>
      <div class="col-md-4">
        <input
          id="thumbnail"
          type="text"
          name="thumbnail"
          placeholder="thumbnail"
          class="form-control input-md" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="price"> Price </label>
      <div class="col-md-4">
        <input
          id="price"
          type="number"
          name="price"
          placeholder="price"
          class="form-control input-md" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="category">
        Category
      </label>
      <div class="col-md-4">
        <select id="category" name="category" class="form-control">
          <option value="">Choose</option>
          <option value="smartphone">SmartPhone</option>
          <option value="laptops">Laptops</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="brand"> Brand </label>
      <div class="col-md-4">
        <select id="brand" name="brand" class="form-control">
          <option value="">Choose</option>
          <option value="apple">Apple</option>
          <option value="samsung">Samsung</option>
          <option value="oppo">Oppo</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="title">
        DiscountPercentage
      </label>
      <div class="col-md-4">
        <input
          id="discountPercentage"
          type="number"
          name="discountPercentage"
          placeholder="discountPercentage"
          class="form-control input-md" />
      </div>
    </div>
    <button class="btn btn-primary">Add</button>
  </fieldset>
</form>
